
/* button{
    background-color: black;
    border: none;
    padding: 0 15px;

    border-radius: 5px;
    color: white;
    font-size: 13px;
} */
input{

    padding: 5px 15px;
    border: none;
    /* flex-grow: 1; */

    border-radius: 5px;
    border: 2px solid grey;

}